.icon-skill {
	font-size: 48px;
	&.html {
		color: #dd4b25;
	}
	&.css {
		color: #264de4;
	}
	&.js {
		color: #cfb335;
	}
	&.react {
		color: #5ed3f3;
	}
	&.bootstrap {
		color: #632eab;
	}
	&.jquery {
		color: #1e75a8;
	}
	&.sass {
		color: #c66394;
	}
	&.git {
		color: #e84d31;
	}
	&.photoshop {
		color: #001d34;
	}
}
