@use "../setting.scss" as *;

.header-main {
  box-shadow: 0px 10px 13px 0px rgba(245, 245, 245, 0.137);
  @media screen and (max-width: 768px) {
    .header-main--nav {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    .header-main--nav {
      .header-main--nav--ul {
        li {
          margin-right: 25px;
          position: relative;
          cursor: pointer;
          &::after {
            content: "";
            bottom: -2px;
            left: 0;
            position: absolute;
            width: 25%;
            border-bottom: 2px solid $secondary-color;
          }
          &:hover {
            color: $secondary-color;
            &::after {
              transition: all 0.3s ease-in;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
