@use "./setting.scss" as *;

.base-bg {
	background-color: $base-bg;
}
.text-secondary {
	color: $secondary-color;
}
.bg-secondary {
	background-color: $secondary-color;
}
.base-text {
	color: $base-text;
}
.html {
	color: #dd4b25;
}
.bg-html {
	background-color: #dd4b25;
}
.css {
	color: #264de4;
}
.bg-css {
	background-color: #264de4;
}
.js {
	color: #cfb335;
}
.bg-js {
	background-color: #cfb335;
}
.react {
	color: #5ed3f3;
}
.bg-react {
	background-color: #5ed3f3;
}
.bootstrap {
	color: #632eab;
}
.bg-bootstrap {
	background-color: #632eab;
}
.jquery {
	color: #1e75a8;
}
.bg-jquery {
	background-color: #1e75a8;
}
.sass {
	color: #c66394;
}
.bg-sass {
	background-color: #c66394;
}
.git {
	color: #e84d31;
}
.bg-git {
	background-color: #e84d31;
}
.photoshop {
	color: #001d34;
}
.bg-photoshop {
	background-color: #001d34;
}
.typescript {
	color: #2d79c7;
}
.bg-typescript {
	background-color: #2d79c7;
}
.redux {
	color: #764abc;
}
.bg-redux {
	background-color: #764abc;
}
