@use "./setting.scss" as *;

.base-bg {
	background-color: $base-bg;
}
.text-secondary {
	color: $secondary-color;
}
.bg-secondary {
	background-color: $secondary-color;
}
.base-text {
	color: $base-text;
}
.html {
	color: #dd4b25;
}
.bg-html {
	background-color: #dd4b25;
}
.css {
	color: #264de4;
}
.bg-css {
	background-color: #264de4;
}
.js {
	color: #f7df1e;
}
.bg-js {
	background-color: #f7df1e;
}
.react {
	color: #61dafb;
}
.bg-react {
	background-color: #61dafb;
}
.bootstrap {
	color: #7952b3;
}
.bg-bootstrap {
	background-color: #7952b3;
}
.jquery {
	color: #0769ad;
}
.bg-jquery {
	background-color: #0769ad;
}
.sass {
	color: #cc6699;
}
.bg-sass {
	background-color: #cc6699;
}
.git {
	color: #f05032;
}
.bg-git {
	background-color: #f05032;
}
.photoshop {
	color: #31a8ff;
}
.bg-photoshop {
	background-color: #31a8ff;
}
.typescript {
	color: #3178c6;
}
.bg-typescript {
	background-color: #3178c6;
}
.redux {
	color: #764abc;
}
.bg-redux {
	background-color: #764abc;
}
