@tailwind base;
@tailwind components;
@tailwind utilities;
@use "./setting.scss";
@use "./base.scss";
@use "./helper.scss";
@use "./override.scss";
@use "./pages/Home.scss";
@use "./components/Footer.scss";
@use "./components/Header.scss";
