////////////////////////////////////////////////
/////////////// color /////////////////////
///////////////////////////////////////////////
$base-bg: #333333;
$base-text: #ffffffff;
$secondary-color: #00ffbb;
